<h1>MyNote Application</h1>
<p>Welcome home, {{username}}</p>
<div class="row">
    <div class="col">
        <input type="text" name="note" id="new-note" placeholder="Insert any text">
        <button class="btn btn-primary add-note">Submit</button>
    </div>
</div>
<div class="note-list">
    {{#each noteArr}}
   <li class="note-item"><textarea id="{{@index}}" class="note-text">{{this}}</textarea><button class="btn btn-danger delete"><i class="fas fa-trash-alt"></i></button></li>
    {{/each}}
</div>
<template class="note-template">
<li class="note-item"><textarea class="note-text"></textarea><button class="btn btn-danger delete"><i class="fas fa-trash-alt"></i></button></li>
</template>